@import url('https://fonts.googleapis.com/css2?family=Inter&family=Syne:wght@400;500;600;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.buttonNotch{
    background: linear-gradient(-45deg, transparent 15px, #01C3F1 0, #2BF2FF);
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    will-change: transform;
    
  }
  .buttonNotch:hover{
    
        transform: translate3d(-5.23px, -5.27px, -5.27px);
    
    
        transform: translate3d(-5.23px, -5.27px, -5.27px);
    
}

.buttonNotch2{
    background: linear-gradient(45deg, transparent 15px, #9601F1 0, #D52BFF);
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    will-change: transform;
    
  }
.buttonNotch2:hover{
    
        transform: translate3d(-5.23px, -5.27px, -5.27px);
    
    
        transform: translate3d(-5.23px, -5.27px, -5.27px);
    
}

#card {
    perspective: 40px;
}

.inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 15rem;
    max-height: 15rem; 
}
  
.wrapper {
    position: absolute;
    display: flex;
}
  
.imgSection {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    animation: swipe 18000ms linear infinite backwards;
}
  
@keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
}

.sliderImg{
    max-width: 16.5rem;
    /* height: 5rem; */
    padding: 0 15px;
    object-fit: contain;
  }
  
.sliderImg:last-of-type {
    padding-left: 0 15px;
  }


  .blue-glassmorphism {
    background: rgba(5, 68, 134, 0.757);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .iframe-cover{
    background:url("./images/1488.gif") center center no-repeat;
    height: 100%;
    width: 100%;
    

  }

  .HiddenFAQ{
    display: none;
    transition: all 0.5s ease-in-out;
  }